.login {
  height: 100vh;
  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .card {
    width: 50vw;
    display: flex;
    border-radius: 10% 25%;
    background-color: white;
    min-height: 40rem;
    overflow: hidden;

    .register-promo {
      flex: 1;
      background: linear-gradient(
          rgba(100, 149, 237, 0.5),
          rgba(255, 255, 255, 0.5)
        ),
        url("../../../assets/socialize.jpeg") center;
      background-size: cover;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;

      h1 {
        font-size: 6rem;
        line-height: 6rem;
      }
      p {
      }
      span {
        font-size: 1rem;
      }
      button {
        width: 50%;
        padding: 0.5rem;
        border: none;
        background-color: white;
        font-weight: bold;
        cursor: pointer;
        margin: auto;
      }
      button:hover {
        background-color: cornflowerblue;
      }
    }

    .login-form {
      flex: 1;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;

      h1 {
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 0.75rem 0.5rem;
        }
        button {
          width: 50%;
          padding: 0.5rem;
          border: none;
          font-weight: bold;
          color: white;
          cursor: pointer;
          background-color: cornflowerblue;
          margin: auto;
        }
      }
    }
  }
}
