@import "../../App.scss";

.rightbar {
  flex: 3;
  @include themify($themes) {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile {
      display: none;
    }
    @include tablet {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .main-container {
      padding: 1rem;

      .item-container {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin: 1rem;
        background-color: themed("bg");
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // justify-content: space-between;

        span {
          color: themed("textColor");
        }
        .user {
          display: flex;
          @media (max-width: 1580px) {
            flex-direction: column;
          }
          align-items: center;
          justify-content: space-between;
          text-align: center;
          margin: 1rem 0rem;
          gap: 0.5rem;
          flex-wrap: wrap;

          .userInfo {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;

            @media (max-width: 1050px) {
              flex-direction: column;
            }

            img {
              width: 2rem;
              height: 2rem;
              object-fit: cover;
              border-radius: 50%;
            }
            span {
              font-weight: 30rem;
              color: themed("textColor");
            }
            p {
              color: themed("textColorSoft");
            }
            .online {
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 1.5rem;
            }
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            @media (max-width: 1050px) {
              flex-direction: column;
            }

            button {
              border: none;
              // background-color: green;
              color: white;
              border-radius: 5px;
              cursor: pointer;
              padding: 0.5rem 1rem;
            }
            .follow {
              background-color: green;
            }
            .dismiss {
              background-color: rgb(174, 42, 42);
            }
          }
        }
      }
    }
  }
}
