.bars-container {
  display: flex;

  .leftbar {
    flex: 2;
  }
  .rightbar {
    flex: 3;
  }
  .outlet {
    flex: 6;
  }
}

// $themes: (
//   light: (
//     textColor: black,
//     bg: white,
//     logo: navy,
//     bgSoft: #f6f3f3,
//     textColorSoft: #555,
//     border: lightgray,
//   ),
//   dark: (
//     textColor: whitesmoke,
//     bg: #222,
//     logo: white,
//     bgSoft: #333,
//     textColorSoft: lightgray,
//     border: #444,
//   ),
// );

// @mixin themify($themes) {
//   @each $theme, $map in $themes {
//   }
// }
