@import "../../App.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    height: 3rem;
    border: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left {
      display: flex;
      align-items: center;
      gap: 2rem;

      span {
        font-weight: bold;
        font-size: 1.25rem;
        color: themed("logo");
      }

      .search {
        display: flex;
        align-items: center;
        gap: 2rem;
        border: 1px solid themed("border");
        border-radius: 0.5rem;
        padding: 0.25rem;

        input {
          border: none;
          width: 30vw;
          background-color: transparent;
          color: themed("textColor");

          @include mobile {
            display: none;
          }
          @include tablet {
            width: 10rem;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 2rem;
      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: bold;
        @include tablet {
          display: none;
        }

        img {
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          border-radius: 50%;
        }
        span {
        }
      }
    }
  }
}
