@import "../../App.scss";

.homepage {
  @include themify($themes) {
    background-color: themed("bgSoft");
    padding: 1rem 3rem;
    @include mobile {
      padding: 0.5rem;
    }
    @include tablet {
      padding: 1rem;
    }
  }
}
