@import "../../App.scss";

.rightbar {
  @include themify($themes) {
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow: scroll;
    background-color: themed("bgSoft");

    &::-webkit-scrollbar {
      display: none;
    }

    .main-container {
      padding: 1rem;

      .item-container {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
        padding: 1rem;
        margin: 1rem;
        background-color: themed("bg");

        span {
          color: themed("textColor");
        }
        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 1rem 0rem;

          .userInfo {
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;

            img {
              width: 2rem;
              height: 2rem;
              object-fit: cover;
              border-radius: 50%;
            }
            span {
              font-weight: 30rem;
              color: themed("textColor");
            }
            p {
              color: themed("textColorSoft");
            }
            .online {
              width: 0.75rem;
              height: 0.75rem;
              border-radius: 50%;
              background-color: limegreen;
              position: absolute;
              top: 0;
              left: 1.5rem;
            }
          }
          .buttons {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            button {
              border: none;
              padding: 0.3rem;
              color: white;
              cursor: pointer;
            }
            .follow {
              background-color: green;
            }
            .dismiss {
              background-color: rgb(174, 42, 42);
            }
          }
        }
      }
    }
  }
}
